<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registro Direcciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <label>Dirección:</label>
  <select class="form-control" id="addressClient" [(ngModel)]="address">
    <option value="">Seleccione Tipo</option>
    <option value="Cl.">Calle</option>
    <option value="Cra.">Carrera</option>
    <option value="Tv.">Trasversal</option>
    <option value="Via">Via</option>
  </select>
  <input type="text" class="form-control" style="font-weight: bold;font-size: 14px;width: 20%;text-align: center;float: left;margin-top: 3%;margin-right: 3%" [(ngModel)]="principal">
  <label style="float: left;font-size: 30px;margin-top: 3%">#<span class="required"></span></label>
  <input type="text" class="form-control" style="font-weight: bold;font-size: 14px;width: 20%;text-align: center;float: left;margin-top: 3%" [(ngModel)]="item"/>
  <label style="float: left;font-size: 30px;margin-top: 3%">-<span class="required"></span></label><input class="form-control" style="font-weight: bold;font-size: 14px;width: 20%;text-align: center;float: left;margin-top: 3%" type="text" [(ngModel)]="subitem"/>
  <label style="width: 100%;">Ciudad:</label>
  <select class="form-control" id="ciudad" [(ngModel)]="ciudad">
    <option value="">Seleccione Ciudad</option>
    <option value="Barranquilla">Barranquilla</option>
    <option value="Bucaramanga">Bucaramanga</option>
    <option value="Cali">Cali</option>
    <option value="Medellin">Medellin</option>
    <option value="Bogota">Bogota</option>
    <option value="Cartagena de Indias">Cartagena de Indias</option>
    <option value="Cúcuta">Cúcuta</option>
    <option value="Soledad">Soledad</option>
    <option value="Ibagué">Ibagué</option>
    <option value="Valledupar">Valledupar</option>
  </select>
  <div style="width: 100%;text-align: center;" class="ion-padding">
    <ion-button color="primary" (click)="registraUbicationAddress()">Registrar</ion-button>
  </div>
</ion-content>