ion-content{
    font-size:18px;
}

.logo{
    align-items: center;
    width: 260px;
    height: 180px;
    margin: 0px auto 0;
    border-radius: 10%;
    background: url("../../assets/imgs/prevencion.png") no-repeat;
    background-size: 65%;
    background-position: center;
}