<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Que es el covid19?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" style="text-align: center;">
  <div class="logo"></div>
  <div style="text-align: left;">
    <p>Actualmente no existe vacuna para prevenir la COVID-19.</p>
    <hr>
    <p>Puede reducir el riesgo de infección:</p>
    <ul>
      <li>Lavándose las manos regularmente con agua y jabón o con desinfectante de manos a base de alcohol</li>
      <li>Cubriéndose la nariz y la boca al toser y estornudar con un pañuelo de papel desechable o con la parte interna del codo</li>
      <li>Evitando el contacto directo (1 metro o 3 pies) con cualquier persona con síntomas de resfriado o gripe (influenza)</li>
    </ul>
  </div>
  <img src="../../assets/imgs/sintomas.png" width="270">
  <div style="text-align: left;">
    <p>La <b>COVID-19</b> se caracteriza por síntomas leves, como, secreciones nasales, 
      dolor de garganta, tos y fiebre. La enfermedad puede ser más grave en algunas 
      personas y provocar neumonía o dificultades respiratorias.</p>
    <p>Más raramente puede ser mortal. Las personas de edad avanzada y las personas con otras afecciones médicas 
      (como asma, diabetes o cardiopatías) pueden ser más vulnerables y enfermar de gravedad.</p>
    <p>Los signos y síntomas pueden ser:</p>
    <ul>
      <li>secreciones nasales</li>
      <li>dolor de garganta</li>
      <li>tos</li>
      <li>fiebre</li>
      <li>dificultad para respirar (en casos graves)</li>
    </ul>
  </div>
</ion-content>
